<div class="restaurant-container m-3 p-3">
  <h1><%= @restaurant.name %></h1>
  <h2><%= @restaurant.category %></h2>
  <h3><%= @restaurant.address %></h3>
  <h4>Reviews:</h4>
  <% @restaurant.reviews.each do |review| %>
    <p><%= review.rating %></p>
    <p><%= review.content %></p>
  <% end %>
</div>

<%= link_to "Add a new Review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Back to Restaurants", restaurants_path %>
